html{
    display: flex;
    justify-content: center;
}
body{
    width: 414px;
    margin: 0;
}

.pagina{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 414px;
    background: #E5E5E5;
    overflow: hidden;
}
/**********************BARRA SUPERIOR********************/
.barra-superior{
    width: 414px;
    height: 92px;
    position: fixed;
    top: 0;
    background: #CF2B2B;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.barra-superior div{
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    margin-left: 19px;
}
.titulo{
    font-size: 44px;
}
.sub-titulo{
    font-size: 18px;
}

/**********************CONTEUDO PRINCIPAL****************/
.conteudo-principal{
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
    width: 100%;
    padding-left: 19px;
    margin-top: 114px;
    margin-bottom: 114px;
}
.bloco-itens{
    margin-top: 30px;
}
.bloco-titulo{
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #333333;
    margin-bottom: 10px;
}
.bloco-rolagem{
    display: flex;
    overflow-x: scroll;
    margin-right: 19px;
}
.bloco-rolagem::-webkit-scrollbar {
    display: none;
  }
.item{
    width: 172px;
    height: 190px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin-right: 16px;
    padding: 14px;
    cursor: pointer;
    
}
.selecionado{
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}
.selecionado .preco-selo ion-icon{
    display: flex;
}
.item img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin-bottom: 8px;
}
.nome-item{
    color: #333333;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 4px;
}
.descricao-item{
    font-size: 15px;
    font-weight: 300;
    color: #A6A6A6;
}
.preco-selo{
    display: flex;
    justify-content: space-between;
}
.preco-selo ion-icon{
    color: #32B72F;
    margin-top: 12px;
    display: none;
}
.preco-item{
    color: #000000;
    font-weight: normal;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 16px;
}


/************************BARRA INFERIOR*******************/
.barra-inferior{
    display: flex;
    justify-content: center;
    width: 414px;
    position: fixed;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
    margin-top: 16px;
}
.fechar-pedido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 364px;
    height: 61px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #FFFFFF;
    background: #CBCBCB;
    border-radius: 50px;
    font-size: 20px;
}
.barra-inferior a{
    text-decoration: none;
}
.botao-habilitado{
    background: #32B72F;
    cursor: pointer;
}









.testes{
    display: flex;
    justify-content: space-around;
}